
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<button type="button" onclick="location.href='@Url.Action("Index", "Businesses")'">Watch all businesses</button>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript">

		var img = new Image();

		img.onload = function() {
    		imgW = img.width*scale;
    		imgH = img.height*scale;
    		if (imgW > CanvasXSize) { x = CanvasXSize-imgW; } // image larger than canvas
    		if (imgW > CanvasXSize) { clearX = imgW; } // image larger than canvas
    		else { clearX = CanvasXSize; }
    		if (imgH > CanvasYSize) { clearY = imgH; } // image larger than canvas
    		else { clearY = CanvasYSize; }
    		//Get Canvas Element
    		ctx = document.getElementById('canvas').getContext('2d');
    		//Set Refresh Rate
    		return setInterval(draw, speed);
		}

		function draw() {
    		//Clear Canvas
    		ctx.clearRect(0,0,clearX,clearY);
    		//If image is <= Canvas Size
    		if (imgW <= CanvasXSize) {
       	 	//reset, start from beginning
        		if (x > (CanvasXSize)) { x = 0; }
        		//draw aditional image
        		if (x > (CanvasXSize-imgW)) { ctx.drawImage(img,x-CanvasXSize+1,y,imgW,imgH); }
    		}
    		//If image is > Canvas Size
    		else {
        		//reset, start from beginning
        		if (x > (CanvasXSize)) { x = CanvasXSize-imgW; }
        		//draw aditional image
        		if (x > (CanvasXSize-imgW)) { ctx.drawImage(img,x-imgW+1,y,imgW,imgH); }
    		}
    		//draw image
    		ctx.drawImage(img,x,y,imgW,imgH);
    		//amount to move
    		x += dx;
		}

</script>



<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTML5 Canvas Slideshow | Script Tutorials</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/pixastic.custom.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <header>
        <h2>HTML5 Canvas Slideshow</h2>
        <a href="https://www.script-tutorials.com/html5-canvas-slideshow/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </header>
    <div class="container">
        <div class="slides">
            <img src="~/images/imageedit_11_3678298637.jpg"  style='height: 800px; width: 800px; object-fit: contain;background-size: contain''/>
            <img src="~/images/imageedit_3_4931344117.png" style='height: 800px; width: 800px; object-fit: contain;background-size: contain'' />
            <img src="~/images/imageedit_5_6890471436.png" style='height: 800px; width: 800px; object-fit: contain;background-size: contain''/>
            <img src="~/images/imageedit_7_9978923469.jpg" style='height: 800px; width: 800px; object-fit: contain ;background-size: contain''/>
            <img src="~/images/imageedit_9_7879279680.jpg" style='height: 800px; width: 800px; object-fit: contain ;background-size: contain' />
        </div>
        <canvas id="slideshow" width="900" height="300"></canvas>
    </div>
</body>
</html>




