@{
    ViewBag.Title = "Home Page";
}
<body>
    <p>

















    </p>
    <button type="button" onclick="location.href='@Url.Action("Index", "Businesses")'">Watch all businesses</button>
    <p>

















    </p>
</body>
