
    <title>Recommendations</title>
    <link rel="stylesheet" href="~/Content/RecommenationsStyleSheet.css">


    <h1 style="font-weight: 800; font-size:49px"> Recommendations </h1>

        <h1> From the news </h1>
        <div class="newspaper">
            "Hopefully by now you know how important it is to not only have local reviews posted for your business, but to incorporate those reviews into your overall marketing and advertising plan.

            According to WordStream, “79% of consumers trust online reviews as much as personal recommendations, 85% of consumers say that they read online reviews for local businesses, and 73% of consumers say positive customer reviews make them trust a business more.”

            It’s no wonder Google and Yelp is so important to a business’s online success. Unfortunately, many companies stop there.


            Believe it or not, there are actually many different online platforms and avenues you can take to get reviews for your business that will still add value, so it’s important you direct your consumers to write those stellar reviews in more places than just the top two.

            This will help give your business extra visibility, help give another audience more opportunity to review your business, and give you more ammunition to work with overall when published reviews in your marketing materials.
            This week we will tell you about one of those platforms, called MyBiz.

            MyBiz is a very popular site for consumers looking for reviews on a business they intend to contact or visit. MyBiz has such a wide range of business catagories that there is almost always a review (or several) for the service you’re searching.

            MyBiz rates it’s businesses using a 5-star scale, and then customers are able to write their own reviews aswell. You can also sort the businesses according to their rank to narrow down what will most likely be a giant list.

            This website is sure to help you find what you are looking for, fast and easily."

        </div>

        <h1> Customer Reviews </h1>
            <div class="container" id="recContainer">
                <div class="column">
                    <h3> "Awesome!" </h3>
                    <div class="text">"This is definatly my go-to website for seeking a business. The search is easy, the reviews are authentic and informative. I always find what i'm looking for, quickly and easily."</div>
                    <img src="~/Content/guy1.jpg" class="image" width="128" height="128">
                </div>
                <div class="column">
                    <h3> "Easy to Use!" </h3>
                    <div class="text">"I wanted to change my internet supplier and did't know which company was the best. I heard about MyBiz from a friend and I quickly got my answer. Simple, intuitive and user-friendly."</div>
                    <img src="~/Content/guy2.jpg" class="image" width="128" height="128">
                </div>
                <div class="column">
                    <h3> "Very Helpfull!" </h3>
                    <div class="text">"I reacently opened a construction company. Registering my business to MyBiz gave people a chance to rate my services and draw-in more new customers."</div>
                    <img src="~/Content/guy3.jpg" class="image" width="128" height="128">
                </div>
            </div>
